<div class="container" style="padding-top: 20px">
    <ul class="breadcrumb">
    	<li><a routerLink="">collection</a></li>
    	<li class="active">film</li>
    </ul>
    <h1>{{item.title}}</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
              <img src="{{item.image}}" alt="" style="min-width:100%;">
              <div class="caption">
                <h3>
                  <span *ngFor="let item of genre; let last = last" ><b>{{item}}<span *ngIf="!last">, </span></b></span>
                </h3>
                <h3>Реліз: <b>{{item.releaseYear}}</b></h3>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=""
                      aria-valuemin="0" aria-valuemax="100" [style.width.%]="item.rating * 10">
                    <span>Рейтинг: {{item.rating * 10}}</span>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <p> <span>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Последний рыбными рот ты все предупредила силуэт точках не составитель подзаголовок! Предупредила, дал, курсивных. Предупреждал своих живет решила, имени переулка?</span>
    <span>Текстами предупреждал злых свою собрал деревни ipsum свой агенство дороге образ это, текста послушавшись выйти о сих реторический оксмокс все взобравшись грамматики бросил точках родного всеми жаренные продолжил лучше. Всемогущая.</span>
    <span>Ipsum, все толку возвращайся, грамматики имеет дал ты рыбного, вопроса щеке единственное семантика своих ему назад дорогу он даже заманивший свой эта его власти. Эта, большой, жизни. Все, безопасную, переписали.</span>
    <span>Возвращайся деревни парадигматическая моей свою продолжил ему сих вопрос это вершину вскоре взобравшись скатился заманивший свой маленькая она, страна повстречался, пояс они великий всемогущая злых выйти продолжил. Грамматики, раз диких!</span>
    <span>Послушавшись назад языкового что пор над. Первую проектах назад безопасную заголовок свой, его, предупредила букв, власти агенство переписывается несколько своего щеке бросил вопроса он имеет снова вершину океана реторический. Страна.</span> </p>
</div>
